

    <div class="container">
    <h1 class="stupid">Stupid Coach</h1>


    <div class="answer">
    <%= params[:answer] %>
    <br>
    -YOU
    </div>
    <div class="coach">
    <%= @coach_answer %>
    <br>
    -COACH
    <br>

    </div>
    <%= link_to "Retour", ask_path %>
    </div>
